html, body {
    margin: 0px;
    padding: 0%;
}
.header {
    width: 25%;
    margin: 0 auto;
    padding: 4%;
  }
  .footer {
      background-color: cornflowerblue;
      color: whitesmoke;
      text-align: center;
      padding: 1%;
  }
  .container {
    position: relative;
    text-align: center;
    color: black;
    font-size: 100px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }