html, body {
    margin: 0px;
    padding: 0%;
}
.header {
    width: 25%;
    margin: 0 auto;
    padding: 2%;
  }
  .footer {
      background-color: cornflowerblue;
      color: whitesmoke;
      text-align: center;
      padding: 1%;
  }